<!DOCTYPE HTML>
<html>

<head>
<!DOCTYPE HTML>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="/styles/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<link href="/styles/css/styles.css" rel="stylesheet" type="text/css">
<link href="/styles/css/image-picker.css" rel="stylesheet" type="text/css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/js/jquery-1.11.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.js"></script>
<!-- scripts for imagepicker -->
// <script type="text/javascript" language="javascript">

// function ValidationEvent(){
//   var x = document.forms["form"]["Tsize"].value;

// if(x== null || x==""){
//  console.log(CustomerDataSizes.Tsize.value);
//   alert("Please enter your first name");
//   CustomerDataSizes.Tsize.focus();
//   return false;
// }
// }
//</script>

<script type="text/javascript">
 
$('form').submit(function() 

</script>

</head>

<body>


 <nav class="navbar navbar-default navbar-fixed-top">
  <!--<nav class="navbar navbar-default">-->
   <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
             <a class="navbar-brand" id="nav-brand-style" href="#">THE SMART MEN SOCIETY</a>
         </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav profile-navbar-style">
             <li class="nav-li-style"><a href="#">T-Shirt Style&nbsp&nbsp></a> </li>
              <li class="nav-li-style"><a href="#">T-Shirt Fit&nbsp&nbsp></a></li>
              <li class="nav-li-style"><a href="#">Sizes&nbsp&nbsp></a></li>
              <li class="nav-li-style"><a href="#"> Brands&nbsp&nbsp></a></li>
              <li class="nav-li-style"><a href="#">My Profile</a></li>
            </ul>
            
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    
<div class="container-fluid ContainerUL">

<p class="formsection-heading">What size t-shirts do you generally wear?</p>

<form name="CustomerDataSizes" method="post" onsubmit="return ValidationEvent()" action ="/formsizes" id="size_form">
          <div id="center-container">
              <div class="btn-group btn-group-justified blocks" data-toggle="buttons">
                <label class="btn  btn-primary" >
                    <input type="radio" name="Tsize" value="Xtra Small" required />Xtra Small
                </label> 
                <label class="btn  btn-primary" >
                    <input type="radio" name="Tsize" value="Small" required/> Small
                </label> 
                <label class="btn  btn-primary">
                    <input type="radio" name="Tsize" value="Medium" required/> Medium
                </label> 
                <label class="btn  btn-primary">
                    <input type="radio" name="Tsize" value="Large" required/> Large
                </label> 
                <label class="btn  btn-primary">
                    <input type="radio" name="Tsize"value="Xtra Large" required/> Xtra Large
                </label>
            </div>
        </div>

<p class="formsection-heading">What size shirts fit you best?</p>

        <div id="center-container">
                      <div class="btn-group btn-group-justified blocks" data-toggle="buttons">
                        <label class="btn  btn-primary" >
                            <input type="radio" name="Ssize" value="Xtra Small" required />Xtra Small
                        </label> 
                        <label class="btn  btn-primary" >
                            <input type="radio" name="Ssize" value="Small" required/> Small
                        </label> 
                        <label class="btn  btn-primary">
                            <input type="radio" name="Ssize" value="Medium" required/> Medium
                        </label> 
                        <label class="btn  btn-primary">
                            <input type="radio" name="Ssize" value="Large" required/> Large
                        </label> 
                        <label class="btn  btn-primary">
                            <input type="radio" name="Ssize" value="Xtra Large" required/> Xtra Large
                        </label>
                    </div>
                </div>

<p class="formsection-heading">What size shorts are you comfortable in?</p>

        <div id="center-container">
                      <div class="btn-group btn-group-justified blocks" data-toggle="buttons">
                        <label class="btn  btn-primary" >
                            <input type="radio" name="STsize" value="Xtra Small" required/>Xtra Small
                        </label> 
                        <label class="btn  btn-primary" >
                            <input type="radio" name="STsize" value="Small" required /> Small
                        </label> 
                        <label class="btn  btn-primary">
                            <input type="radio" name="STsize" value="Medium" required/> Medium
                        </label> 
                        <label class="btn  btn-primary">
                            <input type="radio" name="STsize" value="Large" required/> Large
                        </label> 
                        <label class="btn  btn-primary">
                            <input type="radio" name="STsize" value="Xtra Large" required/> Xtra Large
                        </label>
                    </div>
                </div>

<input type="submit"  class ="buttons-style" value="NEXT" ></input>


</form>
  



</div>
</body>

</html>
