<!DOCTYPE HTML>
<html>
<head>
<!DOCTYPE HTML>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<!--<link href="/styles/css/bootstrap.css" rel="stylesheet" type="text/css">-->
<link href="/styles/css/styles.css" rel="stylesheet" type="text/css">
<link href="/styles/css/image-picker.css" rel="stylesheet" type="text/css">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/js/jquery-1.11.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.js"></script>
<!-- scripts for imagepicker -->
</head>


<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <!--<nav class="navbar navbar-default">-->
   <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topFixedNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
             <a class="navbar-brand" id="nav-brand-style" href="#">THE SMART MEN SOCIETY</a>
         </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="topFixedNavbar1">
            <ul class="nav navbar-nav profile-navbar-style">
             <li class="nav-li-style"><a href="#">T-Shirt Style&nbsp&nbsp></a> </li>
              <li class="nav-li-style"><a href="#">T-Shirt Fit&nbsp&nbsp></a></li>
              <li class="nav-li-style"><a href="#">Sizes&nbsp&nbsp></a></li>
              <li class="nav-li-style"><a href="#"> Brands&nbsp&nbsp></a></li>
              <li class="nav-li-style"><a href="#">My Profile</a></li>
            </ul>
            
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    
    
<div class="container-fluid ContainerUL" >

  <form class="form-horizontal" method="post" action ="/">
     <h3 class="signInform" ><strong> Almost Done </strong></h3>
     
        <div class="form-group">
        
            <div class="col-md-offset-3 col-md-6">
                <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="password" class="form-control" id="inputPassword" name= "Password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="text" class="form-control" id="firstName" name="FName" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="text" class="form-control" id="lastName" name="LName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="tel" class="form-control" id="phoneNumber" name="PhNumber" placeholder="Phone Number (+65 xx xx xx xx)">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <textarea rows="3" class="form-control" id="postalAddress" name="Address" placeholder="Postal Address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="text" class="form-control" id="ZipCode" name="PostCode"placeholder="Post Code">
            </div>
        </div>
   
        <br>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" class="btn btn-primary registerbtn"  value="Create My Profile" >
              </div>
        </div>
  
    </form>
</div>



</body>

</html>
